smsCore/Web References/smslicense/license.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="smsCore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="smsCoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="smsCoreResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="smsCoreSoapIn">
    <wsdl:part name="parameters" element="tns:smsCore" />
  </wsdl:message>
  <wsdl:message name="smsCoreSoapOut">
    <wsdl:part name="parameters" element="tns:smsCoreResponse" />
  </wsdl:message>
  <wsdl:portType name="licenseSoap">
    <wsdl:operation name="smsCore">
      <wsdl:input message="tns:smsCoreSoapIn" />
      <wsdl:output message="tns:smsCoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="licenseSoap" type="tns:licenseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="smsCore">
      <soap:operation soapAction="http://tempuri.org/smsCore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="licenseSoap12" type="tns:licenseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="smsCore">
      <soap12:operation soapAction="http://tempuri.org/smsCore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="license">
    <wsdl:port name="licenseSoap" binding="tns:licenseSoap">
      <soap:address location="http://localhost:4711/smsLauncherManagement/service/license.asmx" />
    </wsdl:port>
    <wsdl:port name="licenseSoap12" binding="tns:licenseSoap12">
      <soap12:address location="http://localhost:4711/smsLauncherManagement/service/license.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>